/* Basic reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    overflow-x: hidden; 
}

header {
    background-color: #5e3708;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f29400;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.hero {
    background-color: #5e3708;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
}

.about-section {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5e3708;
}

.about-section p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
}

.contact-section {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5e3708;
}

.contact-section p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}

.banner img {
    width: 100%;
    height: auto;
}
